<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<link rel="shortcut icon" href="images/calendar.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/calendar.css">
	<script type="text/javascript" src="js/calendar.js"></script>
</head>
<body>
	<div class="b-menu">
		<div class="left">
			<a class="elMenu logo left" href="#main">
				Calendar
			</a>
		</div>
		<div class="right">
			<div class="big_menu">
				<a class="elMenu" href="#features">Фишки</a>
				<a class="elMenu" href="#download">Скачать</a>
				<a class="elMenu" href="#install">Установка</a>
				<a class="elMenu" href="#use">Использование</a>
			</div>
		</div>
	</div>
	<div class="b-content">
		<div id="main">
			<p>
				С помощью данного виджета Вы можете встороить в свою страницу очень удобный и быстрый календарь. С помощью его вы сможете выбрать неоходимую дату используя визуальное представление даты или введя необходию дату с клавиатуры, при этом вам будут предложенны некоторые подсказки. Попробуйте сами как им удобно пользоваться
			</p>
			<input class="calendar" type="text">
		</div>
		<div id="features">
			<h1>Фишки</h1>
			<p>
				У данного виджета календаря есть много удобных функций, таких как:
			</p>
			<ul>
				<li>Навигация с помощью клавиатуры когда виждет открыт или закрыт</li>
				<li>Красивая анимация перехода между месяцами/годами</li>
				<li>Написан на чистом javascript что обеспечивает его быструю работу</li>
				<li>При вводе с клавиатуры месяца вам будет автоматически подсказываться предпологаемый месяц</li>
			</ul>
		</div>
		<div id="download">
			<h1>Скачать</h1>
			<p>Чтобы скачть данный виджет перейдите по этой ссылке: <a href="https://github.com/SlavikLutsenko/Calendar/archive/master.zip">Скачать</a></p>
			<p>Также вы можете перейти на <a href="https://github.com/SlavikLutsenko/Calendar">репозиторий</a> данного виджета</p>
		</div>
		<div id="install">
			<h1>Установка</h1>
			<p>Чтобы установить виджет себе на сайт необходимо <a href="https://github.com/SlavikLutsenko/Calendar/archive/master.zip">скачать его</a>. В результате вы получите архив с виджетом и всем необходимым для его функционирования. Затем разархивируйте архив в необходимое место. Подключите стили виджета и скрипт выполния к себе на сайт. На этом установка закончена и виджет может использоваться.</p>
		</div>
		<div id="use">
			<h1>Использование</h1>
			<p>Использование виджета делится на две категории: когда виджет открыт и когда виджет закрыт.</p>
			<table border="1" style="margin: 10px auto;" width="90%" align="center">
				<tr>
					<th>Виджет открыт</th>
					<th>Виджет закрыт</th>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/scroll.js"></script>
	<!--<script type="text/javascript" src="js/menu.js"></script>-->
</body>
</html>